<form action="/appointments/{{userId}}" method="POST">
<label for="doctorId"></label>
<input id="doctorId" type="text" name="doctorId" placeholder="doctorId" value = {{doctorId}}  hidden>
<label for="userId"></label>
<input id="userId" type="text" name="userId" placeholder="userId" value = {{userId}}  hidden>

<div class="apointmentDiv">
<label class = "apointmentLable" for="aptDate">DateTime  </label>
<input id="aptDate" type="text" name="aptDate"  value = {{aptDate}} readonly>
<input id="aptTime" type="text" name="aptTime"  value = {{aptTime}} readonly>

{{#if rescheduleFlag}}
<button class="btn btn-primary btn-sm" type="submit" formmethod = "POST" formaction="/doctors/reschedule/{{doctorId}}">Change Date</button>
{{/if}}
</div>
<div class="apointmentDiv">
<label class = "apointmentLable" for="message">Message</label>
<input id="message" type="text" name="message" placeholder="message"   >
</div>

<div class="apointmentDiv">
<label class = "apointmentLable" for="conditions">Conditions </label>
<input id="conditions" type="text" name="conditions" placeholder="conditions"   >
</div>
<button class="btn btn-primary btn-sm" type="submit">Book</button>
</form>
<div class="apt_error_span">
{{#if hasError}}
<span class="apt_error_class">Error:{{errorMessage}}</span>
{{/if}}
</div>
<div class="apointmentDiv">
<!--<a href="/appointments/userappointmentlist/{{userId}}" id="PatientHomeLink" >Back to PatietHome</a>-->
<a class="btn btn-primary" href="/appointments/userappointmentlist/{{userId}}" role="button">Back to Patient Home</a>
</div>