<a class="speciality" href="/doctor/speciality/{{speciality}}">{{speciality}}</a>
<dl>
    <dd class="name">{{name}}</dd>
    {{#if profilePicture}}
    <img alt="image" src={{profilePicture}} />
    {{else}}
    <img alt="image"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/450px-No_image_available.svg.png" />
    {{/if}}

    <dt>About</dt>
    <dd>{{about}}</dd>
    <dt>Languages</dt>
    {{#if languages.length}}
    <ul>
        {{#each languages}}
        <li class="language">{{this}}</li>

        {{/each}}
    </ul>
    {{else}}
    <dd>N/A</dd>
    {{/if}}
    <dt>Address</dt>
    <dd>{{address}}</dd>
    <dt>City, State, Zipcode</dt>
    <dd>{{city}}, {{state}}, {{zip}}</dd>
    <dt>Rating</dt>
    <dd>{{rating}} Stars</dd>
    <dt>Reviews</dt>
    {{#if reviews.length}}
    <ul>
        {{#each reviews }}
        <li class="reviews">
            <h3 class="userName">{{this.userID}}</h3>

            <p class="Rating">Rating: {{this.rating}} Stars</p>

            <p class="reviewText">ReviewText: {{this.reviewText}}</p>

        </li>

        {{/each }}
    </ul>


    {{else}}
    <dd>Currently there are no reviews for this doctor</dd>
    {{/if}}

      <!--- Doc calendar integrated with doctor hompage-->
<dt>Doctor calendar</dt>
    <form>
  
    {{#if timeSlots.length}}
    <ul class="doc_calendar_ul">
        {{#each timeSlots}}

        <li class="doc_calendar_li"> {{dt}}
            <div>
             {{#each tm}}
             {{#if ../../rescheduleFlag}}
             <button class="btn btn-success btn-xs" type="submit" formmethod = "POST" formaction="/appointments/reschedule/{{toString ../../doctorId}}/{{../dt}}/{{this}}">{{this}}</button>
             {{else}}
             <button class="btn btn-success btn-xs" type="submit" formmethod = "GET" formaction="/appointments/schedule/{{toString ../../_id}}/{{../dt}}/{{this}}">{{this}}</button>
             {{/if}}
             {{/each}}
             </div>
        </li>

        {{/each}}
    </ul>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{doctorId}}.</p>
    {{/if}}
    {{#if rescheduleFlag}}
    <input name= 'appointmentId' value={{appointmentId}} hidden>
    <input name= 'aptDatePrvRs' value={{aptDatePrv}} hidden>
    <input name= 'aptTimePrvRs' value={{aptTimePrv}} hidden>
    <input name= 'messagePrvRs' value={{messagePrv}} hidden>
    <input name= 'conditionsPrvRs' value={{conditionsPrv}} hidden>
    {{/if}}
</form>
</dl>
{{#if hasError}}
<p >Error:{{errorMessage}}</p>
{{/if}}
