<!-- Modal for Appointment View -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalLabel">Appointment Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <input id="viewUserId" class="form-control border-0" type="text" placeholder="Readonly input here…" readonly>
        <input id="viewDoctorId" class="form-control" type="text" placeholder="Readonly input here…" readonly>
        <input id="viewAptDate" class="form-control" type="text" placeholder="Readonly input here…" readonly>
        <input id="viewAptTime" class="form-control" type="text" placeholder="Readonly input here…" readonly>
        <input id="viewAptMessage" class="form-control" type="text" placeholder="Readonly input here…" readonly>
        <input id="viewAptConditions" class="form-control" type="text" placeholder="Readonly input here…" readonly>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary-appointment-view-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<h1><small>{{title}}</small></h1>

<form id="appointmentListForm">
    {{#if appointmentResultSet.length}}
    
        {{#each appointmentResultSet}}
        <div>
        <label for="appointment">{{aptDate}} {{aptTime}}   </label>
       
        <button type="button" class="btn btn-primary-appointment-view-button btn-sm" data-toggle="modal" data-target="#viewModal" id="viewButton{{_id}}"  formmethod = "GET" formaction="/appointments/{{_id}}">View</button>
  
    {{#ifDateCompare aptDate aptTime }}
        <button  type="submit" class="btn btn-primary-appointment-reschedule-button btn-sm" formmethod = "GET" formaction="/appointments/reschedule/{{_id}}" >Reschedule</button>
        <button  type="button" class="btn btn-primary-appointment-delete-button btn-sm"  id="deleteButton{{_id}}"  formaction="/appointments/delete/{{_id}}">Delete</button>
         {{/ifDateCompare}}
        </div>
        {{/each}}
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{userId}}.</p>
    {{/if}}
     <input name= '_method' value="DELETE" hidden/>
     
</form>
{{#if hasError}}
<p class={{class}}>Error:{{errorMessage}}</p>
{{/if}}


